.padding {
    padding-top: 3vh;
    padding-left: 3vh;
    padding-right: 3vh;
    min-width: 300px;
    max-width: 1200px;
    width: 90%;
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
}

.custome-tabs .nav-link {
    border-color: white !important;
    color: white;
}

.video-caption {
    color: white;
    font-size: 2vh;
    padding-bottom: 2vh;
    padding-top: 2vh;
    font-weight: bold;
    display: flex;
    justify-content: center; /* Horizontally center the content */}

video {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}