.App {
  text-align: center;
  background-color: #173342;
}

.App-header {
  min-height: 100vh;
  /*display: flex;*/
  /*flex-direction: row;*/
  /*align-items: center;*/
  /*justify-content: center;*/
  font-family: "Devanagari MT", serif;
}

.App-header div div {
  position: relative;
  display: inline-block;
  font-size: calc(30px + 10vmin);
  color: #ffffff;
  font-family: "Devanagari MT", serif;
  animation: flip 5s infinite;
  animation-delay: calc(.2s * var(--i));
}
.invisible-space {
  opacity: 0;
}

.header-row-1 {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.header-row-2 {
  min-height: 0vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.header-row-3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@keyframes flip {
  0%, 80% {
    transform: rotateY(360deg);
  }
}
