.App {
  background-color: #173342;
  height: 100vh;
}

.App-header {
  display: flex;
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
  padding-top: 30vh; /* Set the container height to the full viewport height */
}

.App-header img {
  opacity: 0;
  max-width: 75%;
  height: auto;
  animation: fade-in 2s ease-in forwards;
}

@keyframes fade-in {
  from {
    opacity: 0; /* Start with opacity 0 (fully transparent) */
  }
  to {
    opacity: 1; /* End with opacity 1 (fully opaque) */
  }
}
