.App {
  background-color: #173342;
}

.App-header {
  display: flex;
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
  height: 100vh; /* Set the container height to the full viewport height */
}

.App-header img {
    max-width: 75%;
    height: auto;
}

.invisible-space {
  opacity: 0;
}
@keyframes flip {
  0%, 80% {
    transform: rotateY(360deg);
  }
}
