.navBar {
    padding-top: 5vh;
    display: flex;
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
    font-size: 3vw;
    font-family: "Devanagari MT", serif;
}

.navBar a {
    color: white;
    font-size: 3vw;
    text-decoration: none;
}

.navBar a.active {
    font-style: italic;
}

.separator {
    font-size: 6vw;
    color: white;
    margin-left: 1vw;
    margin-right: 1vw;
}